.banner-logo {
	background-image: url(../../images/logo.jpg);
	padding: 40px 0px;
	background-size: 10%; 
	background-color: black;
	background-repeat: no-repeat;
	background-position: center; 
}
