.btn-blue {
	background-color: black ;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	transition-duration: 0.4s

}

.btn-blue:hover {
  background-color: #E0CBBA }
